@page
@model EntityFrameworkProviderSamples.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShirtSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShirtSize)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.TrackingId" asp-route-Provider="@Model.Provider">Edit</a> |
    <a asp-page="./Index" asp-route-Provider="@Model.Provider">Back to List</a>
</div>
